.cytoscape {
  border: 1px solid black;
  left: 2%;
  top: 40px;
  flex: content;
  height: calc(100vh - 300px);

  float: left;
  display: inline;
  width: calc(100vw - 300px);
  min-width: 560px;
}

.react-bpmn-diagram-container {
  border: 1px solid black;
  top: 40px;
  flex: content;
  float: left;
  height: calc(100vh - 300px);
  display: inline;
  width: calc(100vw - 300px);
  margin-left: 2%;
  margin-top: 40px;
}
