.cytoscape {
  background-color: #f7f7f7;
  flex: content;
  height: calc(100vh - 234px);

  float: left;
  display: inline;
  width: calc(100vw - 265px);
  min-width: 595px;
}

.react-bpmn-diagram-container {
  background-color: #f7f7f7;
  top: 40px;
  flex: content;
  float: left;
  height: calc(100vh - 300px);
  display: inline;
  width: calc(100vw - 300px);
  margin-left: 2%;
  margin-top: 40px;
}
