.cytoscape {
  border: 1px solid black;
  position: absolute;
  left: 280px;
  right: 2%;
  top: 170px;
  flex: content;
  height: calc(100% - 300px);
  display: inline-block;
}

.react-bpmn-diagram-container {
  border: 1px solid black;
  top: 5vh;
  flex: content;
  float: left;
  height: 65vh;
  display: inline;
  width: 80%;
  margin-left: 2%;
  margin-top: 5vh;
}
