#subheader {
  height: 90px;
  padding-left: 2vh;
  padding-right: 4vh;
  position: relative;
}

#import {
  margin-left: 2vh;
}

.flex-container {
  display: flex;
}

.btnClass {
  flex: 60%;
}

.sliderClass {
  flex: 30%;
  padding: 40px;
  padding-bottom: 20px;
}

.selectClass {
  flex: 10%;
}

.tableClass {
  table-layout: fixed;
  width: 150px;
}

.sliderNode {
  top: 20px;
  width: 120px;
}

.sliderEdge {
  top: 20px;
  width: 120px;
}

.tableClass {
  table-layout: fixed;
}

#textEdges,
#textNodes {
  position: relative;
  bottom: 10px;
  right: 20px;
}

 
