#subheader {
  height: 90px;
  padding-left: 20px;
  padding-right: 40px;
  position: relative;
}

#import {
  margin-left: 20px;
  padding: 8.5px;
  position: relative;
}

#leftBtn {
  margin-top: 20px;
}

#rightBtn {
  float: right;
  margin-top: 20px;
}

#csvIm {
  margin-left: 20px;
  padding: 8.5px;
}

label:hover,
label:active,
input:hover + label,
input:active + label {
  background: rgb(235, 245, 254);
}

.flex-container {
  display: flex;
}

.btnClass {
  min-width: 300px;
  max-width: 470px;
}

.sliderClass {
  width: 350px;
  padding: 40px;
  padding-bottom: 23px;
  overflow: hidden; 
  margin-right: 20px;
}

#first {
  width: 200px;
  float: left;
}

#second {
  width: 40px;
  overflow: hidden; 
}

.selectClass {
  flex: 10%;
}

.tableClass {
  width: 200px;
}

.sliderNode {
  width: 120px;
  height: 40px;
}

.sliderEdge {
  width: 150px;
}

.tableClass {
  table-layout: fixed;
}

#textNodes {
  position: relative;
  right: 20px;
}

#textNodes {
  bottom: 5px;
}

#currentSliderValue {
  margin-left: 10px;
}

#fetchDialog {
  margin: 32px;
  font-size: 1rem;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  width: 600px;
}

.cards2 {
  width: 300px;
}

.inputDelete3 {
  height: 60px;
  padding: 11px;
}
