.my-custom-scrollbar {
  position: relative;
  height: 60vh;
  max-height: 700px;
  min-height: 300px;
  overflow: auto;
  left: 2%;
  top: 40px;
  border: 1px solid black;
  margin-right: 100px;
}

.table-wrapper-scroll-y {
  display: block;
}

#select {
  margin-top: 20px;
  display: flex;
  left: 52%;
  flex-flow: column;
  float: right;
  margin-right: 20px;
}

.Text-text-0-2-17 {
  color: var(--sapTextColor);
  display: inline-block;
  font-size: var(--sapFontSize);
  max-width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
  font-family: var(--sapFontFamily);
  font-weight: normal;
  white-space: pre-line;
  margin-right: 10px;
}
